.App {
  text-align: center;
}
#logoPicture{
  width: 200px
}
#card{
  width: 20%;
}
li{
  font-weight: 700;
}


@media only screen and (max-width: 770px) {
  #logoPicture{
    width: 100px
  }
  #card{
    width: 28%;
  }
  #nameFontSize{
    font-size: 80%;
  }
}
@media only screen and (max-width: 550px) {
  #logoPicture{
    width: 100px
  }
  #card{
    width: 50%;
  }
  #nameFontSize{
    font-size: 80%;
  }
}
@media only screen and (max-width: 350px) {
  /* #card{
    width: 40%;
  } */
  #nameFontSize{
    font-size: 100%;
  }
}